body {
    font-family: Helvetica, sans-serif;
}
.focus-container {
    width: 100w;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.focuscard {
    display: flex;
    width: 750px;
    height: 340px;
}

.focustext {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding-top: 4%;
    justify-content: space-between;
}

.focustext > h1 {
    font-weight: bold;
}

.focustext p {
    color: gray;
    font-size: small;
}

.focustext a {
    color: gray;
    text-decoration: none;
}

.focustext a:hover {
    text-decoration: underline;
}

.focustextbuttons {
    display: flex;
    margin-bottom: 6px;
}

#focussignup {
    color: white;
    border: 1px solid rgb(34, 79, 239);
    background-color: rgb(34, 79, 239);
    border-radius: 5px;
    font-size: small;
    width: 138px;
    height: 40px;
    margin-right: 10px;
}

#focussignup:hover {
    color: rgb(34, 79, 239);
    background-color: white;
}

#focuschat {
    color: rgb(34, 79, 239);
    background-color: white;
    border: 1px solid rgb(34, 79, 239);
    border-radius: 5px;
    font-size: small;
    width: 138px;
    height: 40px;
    margin-right: 10px;
}

#focuschat:hover {
    color: white;
    background-color: rgb(34, 79, 239);
}

.focusdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 80%;
}

.focusdetails p {
    color: black;
    font-size: x-small;
}

.circle {
    background-color: rgb(34, 79, 239);
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.focusgrid {
    width: 45%;
    height: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    filter: drop-shadow(2mm 2mm 2mm rgb(217, 217, 217));
    font-size: 9.1px;
    text-align: center;
    padding: 0;
}

.focusgrid div {
    margin: 5px;
    height: 33%;
    
}

.focusgrid .col {
    height: 80%;
    justify-content: center;
}

.grid-a, .grid-b, .grid-c, .grid-d, .grid-e, .grid-f, .grid-g, .grid-h, .grid-i {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid-a {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius: 50% 0;
}

.grid-b {
    background-color: white;
    border-radius: 50% 0 0 0;
}

.grid-c {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius: 50%; 
}

.grid-d {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius: 50%; 
}

.grid-e {
    border-radius: 0 50% 0 0;
    background-color: white;
}

.grid-f {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius:0 0 50% 0; 
}

.grid-g {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius:0 0 0 50%; 
}

.grid-h {
    background-color: white;
    border-radius: 50%;
}

.grid-i {
    color: white;
    background-color: rgb(34, 79, 239);
    border-radius:0 0 50% 0; 
}

.dark-fill {
    color: black;
}


/* Start "explore and solutions" section */


.card_section { 
    display:flex;
    justify-content: space-around;
    margin: 5vw 10vw 10vw;
    flex-wrap: wrap;
    row-gap: 4vh
}


.rect_cont1 {
    background-color: rgb(34, 79, 239);
    width: 30vw;
    height:30vw;
    border-radius: 15%;
}

.img_cont_dollar{
    width:20vw;
    height: 20vw;
    display:flex;
    justify-content:center;
    margin-left:5vw;
}

.img_cont_dollar >img {
    width:100%;
    height:100%;
    clip-path: circle(25.2% at 50% 51%)
}

.dollar_label {
    color:white;
    font-size: 3vw;
    text-align: center;
}

.rect_cont2 {
    width: 30vw;
    height:30vw;
    border-radius: 15%;
    display:flex;
    flex-direction: column;
    align-items:center;
    border: 2px solid rgb(223, 221, 221);
}

.bi.bi-person {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width:15vw;
    height: 15vw;
}

.retain_label {
    color:black;
    font-size:3vw;
    text-align: center;
}

.rect_cont3 {
    width: 30vw;
    height:30vw;
    border-radius: 15%;
    display:flex;
    flex-direction: column;
    align-items:center;
    border: 2px solid rgb(223, 221, 221);
}

.bi.bi-bar-chart {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width:15vw;
    height: 15vw;
}

.reporting_label {
    color:black;
    font-size:3vw;
    text-align: center;
}

.rect_cont4 {
    width: 30vw;
    height:30vw;
    border-radius: 15%;
    display:flex;
    flex-direction: column;
    align-items:center;
    border: 2px solid rgb(223, 221, 221);
}

.bi.bi-arrow-left-right {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width:15vw;
    height: 15vw;
}

.convert_label {
    color:black;
    font-size:3vw;
    text-align: center;
}

@media (min-width:768px) {
    .card_section { 
        display:flex;
        justify-content: space-between;
        margin: 5vw 10vw 10vw
    }
    
    
    .rect_cont1 {
        background-color: rgb(34, 79, 239);
        width: 15vw;
        height:15vw;
        border-radius: 15%;
    }
    
    .img_cont_dollar{
        width:10vw;
        height: 10vw;
        display:flex;
        justify-content:center;
        margin-left:2.5vw;
    }
    
    .img_cont_dollar >img {
        width:100%;
        height:100%;
        clip-path: circle(25.2% at 50% 51%)
    }
    
    .dollar_label {
        color:white;
        font-size: 1.5vw;
        text-align: center;
    }
    
    .rect_cont2 {
        width: 15vw;
        height:15vw;
        border-radius: 15%;
        display:flex;
        flex-direction: column;
        align-items:center;
        border: 2px solid rgb(223, 221, 221);
    }
    
    .bi.bi-person {
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        width:7.5vw;
        height: 7.5vw;
    }
    
    .retain_label {
        color:black;
        font-size:1.5vw;
        text-align: center;
    }
    
    .rect_cont3 {
        width: 15vw;
        height:15vw;
        border-radius: 15%;
        display:flex;
        flex-direction: column;
        align-items:center;
        border: 2px solid rgb(223, 221, 221);
    }
    
    .bi.bi-bar-chart {
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        width:7.5vw;
        height: 7.5vw;
    }
    
    .reporting_label {
        color:black;
        font-size:1.5vw;
        text-align: center;
    }
    
    .rect_cont4 {
        width: 15vw;
        height:15vw;
        border-radius: 15%;
        display:flex;
        flex-direction: column;
        align-items:center;
        border: 2px solid rgb(223, 221, 221);
    }
    
    .bi.bi-arrow-left-right {
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        width:7.5vw;
        height: 7.5vw;
    }
    
    .convert_label {
        color:black;
        font-size:1.5vw;
        text-align: center;
    }
}

#credit_cont {
    border-radius: 15px;
    overflow: hidden;
    display:flex;
    align-items: center;
}


.credit_img_cont {
    width:90%;
    margin: 5vh 0px;
    display:flex;
    align-items: center;
}

@media (min-width:768){
    .credit_img_cont {
        width:90%;
        height:40%;
        display:flex;
    }
}


#credit_card_right {
    color:white;
    background-color: rgb(34, 79, 239);
    padding-top:10vh;
    padding-bottom:10vh;
    padding-right: 3vh;
    padding-left:3vh;
}

@media (min-width: 768px) {
    #credit_card_right {
        padding-right: 10vh;
    }
}

.bottom_right_cr {
    list-style: none;
    font-size: 0.8em;
    padding:0px;
    margin-bottom: 4vh;
}

.bottom_right_cr > li{
    margin-bottom:2vh
}

.heading_solutions {
    margin-top: 10vh;
}



.solutions_bg_1 {
    background-color: rgb(205, 230, 253);
    width:20vw;
    height:20vw;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(223, 221, 221)
}

.solutions_bg_1 > i {
    font-size: 10vw;
    color: rgb(34, 79, 239);
    
}


@media (min-width:500px){
    .solutions_bg_1 {
        width:20vw;
        height: 20vw;
    }

    .solutions_bg_1 > i {
        font-size: 10vw
    }
}


.sol_bus_card {
    width:60vw;
}

.sol_bus_title {
    font-weight:700;
    font-size: 1.3rem;
    margin: 1.2vh 0px;
    text-align: center;
}


.scaling {
    margin-bottom: 3vh;
}

@media (min-width:992px) {

    .solutions_bg_1 {
        background-color: rgb(205, 230, 253);
        width:10vw;
        height:10vw;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
        border:2px solid rgb(223, 221, 221)
    }
    
    .solutions_bg_1 > i {
        font-size: 5vw;
        color: rgb(34, 79, 239);
        
    }
    
    .sol_bus_card {
        width:30vw;
    }
    
    .sol_bus_title {
        font-weight:700;
        font-size: 1.6vw;
        margin: 1.2vh 0px;
    }

    .scaling {
        margin-bottom: 0px;
    }

    .last-row {
        margin-top:3vh
    }
}

/* end "explore and solutions" section */

/* navbar styling */
.navbar {
    padding: 0 20px;
}

.logo {
    max-height: 40px;
}

.signin-btn {
    color: #224FEF;
    border-radius: 10px;
    border-color: #224FEF;
    background-color: #ffffff;
}

.free-btn {
    color: #ffffff;
    background-color: #224FEF;
    border-radius: 10px;
    border-color: #224FEF;
}

/* footer style */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #224FEF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* footer link styles */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.get-started-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.chat-with-us-btn {
    background-color: #ffffff;
    color: #224FEF;
    padding: 10px 20px;
    border-radius: 15px;
}

/*How it works section */

.lorem_dummy1 {
    width: 40vw;
    text-align: center;
    font-weight: 600;
}

.lorem_dummy_cont {
    display:flex;
    justify-content: center;
}

.padding_bot_5 {
    margin-bottom: 50vh;
}

.footer_123 {
    padding: 0px;
}