body {
    font-family: Helvetica, sans-serif
}

/* footer style */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #224FEF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* footer link styles */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

/* navbar styling */
.navbar {
    padding: 0 20px;
}

.logo {
    max-height: 40px;
}

button{
    background-color: #224FEF);
    border-radius: 10px;
    border-color: #224FEF;
    width: 80%;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

.signin-btn {
    color: #224FEF;
}

.free-btn {
    color: #ffffff;
    background-color: #224FEF
}

</style>